.button-container {
  width: 340px;
  height: 423px;
  border: 2px solid white;
  text-align: center;
  margin: 10px;
}

button {
  height: 85px;
  width: 85px;
  float: left;
  border: 1px solid lightgrey;
  color: white;

  background-color: lightgreen;
  font-size: 20px;
  text-align: center;
}

#button-clear {
  width: 85px;
  height: 85px;
  margin-bottom: -3px;
}

.button-clear-class {
  margin-bottom: -3px;
}

.answer {
  height: 80px;
  width: 338px;
  border: lightgrey 1px solid;
  background-color: lightgreen;
  text-align: center;
  font-size: 20px;

}
