.textbox-containers {
  width: 200px;
  height: 130px;
  border: 2px solid red;
  

}

input {
  height: 70px;
  width: 90px;
  /*float: left;*/
  border: 1px solid lightgrey;
  margin: 0px auto;

}



.answer {
  height: 50px;
  border: green 1px
}
